@font-face {
    font-family: ab;
    src: url(h1.woff);
}

body {
    background-color: #2f3136;
    color: #b9bbbe;
    text-rendering: optimizeLegibility;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-family: ab;
    color: #ffffff;
}

h2 {
    font-family: ab;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

input[type=submit] {
    color: white;
    background-color: #f0600f;
    border: none;
    padding: 1ex;
    border-radius: 5px;
}

    input[type=submit]:hover {
        color: #f0600f;
        background-color: #2f3136;
        border: 0.2ex solid #f0600f;
        padding: 0.8ex;
    }

.button-1x2ahC {
    /*margin-left: 10px;*/
    cursor: pointer;
}

.button-38aScr {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding: 2px 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
    color: #fff;
    background-color: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
}

.grow-q77ONN, .sizeIcon-1-kvKI {
    width: auto;
}

.lookFilled-1Gx00P .contents-18-Yxp, .lookInverted-2D7oAl .contents-18-Yxp, .lookLink-9FtZy- .contents-18-Yxp, .lookOutlined-3sRXeN .contents-18-Yxp {
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sizeSmall-2cSMqn {
    /*width: 60px;*/
    height: 32px;
    min-width: 60px;
    min-height: 32px;
}

button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
    border-radius: 2px;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
}

.alert-box.danger {
    background-color: rgba(237,66,69,.1);
    border: 2px solid rgba(237,66,69,.5);
}

.alert-box {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

#accessdeniederror {
    display: none;
}

.submitnotifier {
    display: none;
}

#connectionrefusederror {
    display: none;
}

#wrongendpointerror {
    display: none;
}

#confokerror {
    display: none;
}

#badclientsecreterror {
    display: none;
}

#tokeninvaliderror {
    display: none;
}

#incorrectcredentialserror {
    display: none;
}

#unknownerror {
    display: none;
}

#unknowndiscorderror {
    display: none;
}

#cannotconnecttodiscorderror {
    display: none;
}

#nomysqlconferror {
    display: none;
}

#cannotcontactservererror {
    display: none;
}

.label-fppI2a {
    padding-top: 20px;
    display: block;
}

.marginBottom8-1wldKw {
    margin-bottom: 8px;
}

.uppercase-1K74Lz {
    text-transform: uppercase;
}

.height16-3r2Q2W {
    line-height: 16px;
}

.size12-DS9Pyp {
    font-size: 12px;
}

.primary300-qtIOwv {
    color: #b9bbbe;
}

label {
    cursor: default;
}

.weightSemiBold-tctXJ7 {
    font-weight: 600;
}

.uppercase-1K74Lz {
    text-transform: uppercase;
}

.input-cIJ7To {
    background-color: #202225;
    border: 1px solid #040405;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f6f6f7;
    -webkit-transition: background-color .15s ease,border .15s ease;
    transition: background-color .15s ease,border .15s ease;
    width: calc(10em + (9rem + 2px));
}

.inputDefault-_djjkz {
    padding: 10px;
    height: 40px;
}

.size16-1__VVI {
    font-size: 16px;
}

p {
    width: initial;
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-left: 5px;
}

.path {
    stroke: #f0600f;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
      }

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}