<!DOCTYPE html>
<html>
    <head>
        <title><%= projname %> - <%= i18npagetitle %></title>
        <link rel='stylesheet' href='/resources/main.css'>
        <link rel='stylesheet' href='/resources/twemoji-amazing.css'>
        <link href="/resources/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
        <script src='/resources/smc.js'></script>
        <meta charset="UTF-8">
        <meta name="title" content="<%= projname %>">
        <meta name="description" content="<%= i18ngdescription %>">
        <meta name="keywords" content="bot, discord, test, testing, server, bots, discord bots, BTS, BTS Bot">
        <meta name="author" content="439bananas">
        <meta name="email" content="btsbot@439bananas.com">
        <meta name="robots" content="index, follow">
        <meta name="charset" content="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="image" content="<%= metaurl %>/resources/logo.png">
        <meta property="twitter:url" content="<%= metaurl %>">
        <meta property="twitter:title" content="<%= projname %>">
        <meta property="twitter:image" content="<%= metaurl %>/resources/logo.png">
        <meta property="twitter:description" content="<%= i18ngdescription %>">
        <meta property="theme-color" content="#caaf9a">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container">
                    <a href="/" class="navbar-brand" title="<%= i18nbtsbothome %>"><img src="/resources/60px.png" title="<%= i18nbtsbotlogo %>" class="img-fluid img-thumbnail"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="<%= wikiurl %>" class="nav-link"><%= i18ndocumentation %></a>
                            </li>
                            <li class="nav-item">
                                <a href="<%= discord %>" class="nav-link"><%= i18ndiscord %></a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/439bananas/BTSBot" class="nav-link"><%= i18ngithub %></a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <button type="button" class="button-1x2ahC button-38aScr lookFilled-1Gx00P colorGreen-29iAKY sizeSmall-2cSMqn grow-q77ONN" onClick="window.location.href='<%= metaurl %>'">
                                    <div class="contents-18-Yxp" title="<%= i18ndashboard %>"><%= i18ndashboard %></div>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <h1><%= i18nheadertitle %></h1>
                <p>
                    <%- i18nnoconfintro1 %><code>conf.json</code><%- i18nnoconfintro2 %><%= confpath %><%- i18nnoconfintro3 %><%- projname %><%- i18nnoconfintro4 %><br /><%- i18nnoconfintrodiag %>
                </p>
                <input type='submit' class='button' value='<%= i18nnextbutton %>' title="<%= i18nnextbutton %>" onClick="window.location.href='/config/'" />
            </div>
        </main>
    </body>
</html>